{% extends "base.html" %}
{% block extra_style %}
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{{ url_for('static', filename = 'spectroscope.js') }}"></script>
{% endblock %}

{% block main_content %}
<div class="container-fluid">
    <div class="row bg-sp text-white shadow py-2 d-flex mb-2">
        <div class="col-6 mt-0 pt-0 mb-0 pb-0">
            <h4 class='pl-3'>Spectro-Pointer SpectroScope</h4>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 order-sm-1">
                <div class="row my-2 bg-white p-0 border border-dark mx-0" style="height: 300px;">
                    <!-- <canvas id="spectrum" width="300" height="100"></canvas> -->
                    <div id="spectrum" style="width:100%; height: 100%;"></div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="progress progress-striped active" id="progress_div">
                            <div class="progress-bar bg-success my-1 py-2" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 10%; background-color: rgb(52, 125, 241); transition:none;"></div>
                        </div>
                    </div>
                </div>

                <form method='POST' action='/spectroscope' enctype='multipart/form-data'>
                    <div class="col-12 order-sm-1">
                        <div class="row my-2 d-flex flex-row-reverse">
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                              <label id="button_1" class="button btn btn-secondary bg-sp active text text-white">
                                <input class="button btn btn-secondary text text-white" type="radio" name="options" id="automatic" autocomplete="off" {% if auto_en == true %} checked {% endif %}> Automatic
                              </label>
                              <label id="button_2" class="button btn btn-secondary bg-sp text text-white">
                                <input class="button btn btn-secondary text text-white" type="radio" name="options" id="manual" autocomplete="off" {% if auto_en == false %} checked {% endif %}> Manual
                              </label>
                            </div>
                        </div>
                    </div>
                    <hr noshade="noshade" />
                    <div class="row my-0">
                        <div class="col-sm-12 col-lg-6 order-sm-1">
                            <div class="form-group">
                                {{ form.integration_time.label }}
                                {{ form.integration_time(size=64,class="form-control") }}
                                {% for error in form.integration_time.errors %}
                                <span style="color: red;">{{ error }}</span>
                                {% endfor %}
                            </div>
                            <div class="form-group">
                                {{ form.integration_factor.label }}
                                {{ form.integration_factor(size=64, class="form-control") }}
                                {% for error in form.integration_factor.errors %}
                                <span style="color: red;">{{ error }}</span>
                                {% endfor %}
                            </div>
                            <div class="form-group">
                                {{ form.threshold.label }}
                                {{ form.threshold(size=64,class="form-control") }}
                                {% for error in form.threshold.errors %}
                                <span style="color: red;">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-6 order-sm-2">
                            <div class="row mb-2 mt-lg-5 mt-sm-2 d-flex flex-row-reverse pr-3">
                                <div id="button-group" class="btn-group btn-group-vertical btn-group-lg col-12" role="group">
                                    <button type="submit" class="button btn btn-secondary text text-white m-0 p-2" id="update">Update Config</button>
                                    <input  type="button" class="button btn_save btn btn-secondary text text-white m-0 p-2" id="save_spectrum" autocomplete="off" value="Save Spectrum">
                                    <input  type="button" class="button btn_stop btn btn-secondary text text-white m-0 p-2" id="stop_graph" autocomplete="off" value="Stop Graph">

                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}